#countdown.container.text-center
	.row.justify-content-center

		.col-auto.clock-container
			h2 Конец акции 
				span через:
			
			#clock.row.justify-content-center
				
				.col-auto.px-1
					span.hours
					.smalltext Часов
				.col-auto.px-1 
					span :
				.col-auto.px-1
					span.minutes
					.smalltext Минут
				.col-auto.px-1 
					span :
				.col-auto.px-1
					span.seconds
					.smalltext Секунд