header#header

	//- nav-bar start
	nav.d-flex
		.position-absolute.w-100
			.container
				.row.py-3.justify-content-between.align-items-center
					
					.col-auto
						.logo-container
							.logo 
								a(href="#") fitne
									span ss		

					.col-auto
						a.btn.btn-outline-light(href="#sec-7") Связаться с нами		

		.position-absolute.w-100
			.nav-bar
				.row.py-4.justify-content-center

					.col-auto
						ul.m-0.p-0.d-none.d-md-flex
							li 
								a(href="#sec-2") о&nbspнас
							li
								a(href="#sec-4") фитнес-услуги
							li
								a(href="#sec-5") тренера
							li 
								a(href="#form") контакты
	//- nav-bar end
	
	//-
	
	#header-content.container.h-100.text-center
		.row.align-items-center.h-100

			.container
				.row.my-3.my-sm-5
					#h1.container
						h1.mb-3 
							.logo-container
								.logo 
									a(href="#") клуб fitne
										span ss	
						p.logo-descr сделай своё тело красивым

				.row.align-items-center
					.col-12.col-sm-6
						h2.mb-4 первые 5 дней 
							span.animated.flash бесплатно
						p.h2-descr.mb-4 не упустите возможность
							br.mb-2
							| оставьте заявку на 5 бесплатных тренировок
						a.btn.btn-primary.header-btn.free-train.mb-4(href="#sec-form") онлайн запись
					.col-12.col-sm-6
						include countdown.pug