header

	//- nav-bar start
	.nav-bar.d-flex.w-100.px-3.px-sm-5.py-3.justify-content-between
		.logo-container.d-flex.flex-shrink-0
			a(href="#")
				.logo fitne
					span ss

		.d-flex.align-items-center.justify-content-center
			ul.m-0.p-0.d-none.d-sm-flex
				li 
					a(href="#sec-2") о&nbspнас
				li
					a(href="#sec-4") фитнес-услуги
				li
					a(href="#sec-5") тренера
				li 
					a(href="#form") контакты
		.nav-btn
			a.btn.btn-outline-light(href="#sec-7") Связаться с нами
	//- nav-bar end

	.container.h-100
		.row.align-items-center.h-100
			.wrapper
				h1 Сделай свое тело 
					br
					span красивым
				p первые 7 дней 
					span.animated.flash бесплатно
				a.btn.btn-primary.mt-3(href="#form") онлайн запись