header

	//- nav-bar start
	.nav-bar.d-flex.w-100.px-5.py-3.justify-content-between
		.logo.flex-shrink-0
			img(src="img/logo.png", alt="logo")
		.w-100.d-flex.align-items-center.justify-content-center
			ul.m-0.d-none.d-sm-flex
				li home
				li about us
				li page
				li blog
				li contact
		.nav-btn
			button.btn.btn-outline-light(type='button') Выбрать план
	//- nav-bar end

	.container.h-100
		.row.align-items-center.h-100
			.wrapper
				h1 Сделай свое тело 
					br
					span красивым
				p первые 7 дней 
					span.animated.flash бесплатно
				button.btn.btn-primary(type='button') онлайн запись