header

	//- Навигационная панель
	.nav-bar.m15
		.logo
			img(src="img/logo.png", alt="logo")
		.nav.m15
			ul
				li home
				li about us
				li page
				li blog
				li contact
		.nav-btn.m15
			a(href="№") chose plan
	

	.wrapper
		h1 Сделай свое тело 
			br
			span красивым
		p.animated первые 7 дней 
			span.animated.flash бесплатно

		a.btn(href="#") онлайн запись