header

	//- nav-bar start
	.nav-bar.m-15.d-flex.justify-content-between
		.logo
			img(src="img/logo.png", alt="logo")
		.nav.m15
			ul
				li home
				li about us
				li page
				li blog
				li contact
		.nav-btn.m-15
			a(href="#") chose plan
	//- nav-bar end

	.wrapper
		h1 Сделай свое тело 
			br
			span красивым
		p.animated первые 7 дней 
			span.animated.flash бесплатно

		a.btn(href="#") онлайн запись