header#header

	//- навигационная панель
	nav.d-flex
		.position-absolute.w-100
			.container
				.row.py-3.justify-content-between.align-items-center

					//- логотип
					.col-auto
						.logo-container
							.logo fitne
								span ss

					//- кнопка "связаться с нами". Скролл к #footer
					.col-auto
						a.btn.btn-outline-light(href="#footer") Связаться с нами
		
		//- меню сайта
		.menu-container
			.row.py-4.justify-content-center

				.col-auto
					ul.m-0.p-0.d-none.d-md-flex
						li 
							a(href="#sec-2") о&nbspнас
						li
							a(href="#sec-4") фитнес-услуги
						li
							a(href="#sec-5") тренера
	
	//- основная информация хедера
	#header-content.container.text-center
		.row.align-items-center.h-100

			.container
				.row.mb-3.mb-sm-5

					//- заголовок сайта и слоган
					.container
						h1.mb-3 Спортивный клуб&nbsp
						.logo-container
							.logo fitne
								span ss	
						p.logo-descr сделай своё тело красивым

				.row.align-items-center

					.col-12.col-sm-6
						h2.mb-4 первые 5 дней 
							span.animated.flash бесплатно
						p.h2-descr.mb-4 не упустите возможность
							br.mb-2
							| оставьте заявку на 5 бесплатных тренировок
						a.btn.btn-big.btn-primary.header-btn.free-train.mb-4(href="#sec-form") онлайн запись
					.col-12.col-sm-6
						//- Подключение счетчика
						include countdown.pug