section#sec-5
	.container
		.wrapper
			h2 welcome to 
				span fitness
			p.descr Далеко-далеко за словесными горами в стране, гласных.
			.row
				.col-12.col-sm-6.col-md-4
					img(src="img/sec5_item11.jpg", alt="")
					.item-descr
						h3 смолин юрий
						span Персональный тренер
						p Силовой и функциональный тренинг, направленный на набор мышечной массы и снижение веса. Сертифицированный тренер FPA (Ассоциации профессионалов фитнеса).Стаж работы в фитнес-индустрии: с 2012 года.
				.col-12.col-sm-6.col-md-4
					img(src="img/sec5_item22.jpg", alt="")
					.item-descr
						h3 демченко ольга
						span менеджер групповых программ и инструктор 
						p Групповые и персональные тренировки по силовым, танцевальным и body &mind направлениям. Коррекция веса, укрепление мышечного корсета. Стаж работы в фитнес-индустрии: с 2010 года.
				.col-12.col-sm-6.col-md-4
					img(src="img/sec5_item33.jpg", alt="")
					.item-descr
						h3 семёнов артём
						span  Персональный тренер
						p Персональный тренинг, направленный на набор мышечной массы, коррекцию фигуры, жиросжигание. Реабилитация. Работа со всеми возрастными категориями. Стаж работы в фитнес-индустрии: с 2010 года.