section#sec-8.pb-0
	.container.d-flex
		.wrapper
			.row
				.col.pb-5
					h3 подписаться на рассылку
					form#form
						fields
							.group
								.row
									.form-group.col-6
										input.form-control(type="text" id="name" data-error="Введите Имя" required)
										.help-block.with-errors
										label(for="name") Имя
									.form-group.col-6
										input.form-control(type="email" id="email" data-error="Неверный E-mail адрес" required)
										.help-block.with-errors
										label(for="email") E-mail
									.d-flex.w-100.align-items-center
										.col-auto
											button.btn.btn-outline-primary(type='submit') подписаться
										.col-auto
											#msgSubmit.invisible 							
			.row
				.social.col-12.col-sm-12.col-md-6
					.row.mb-3.align-items-center
						.col-auto
							.logo.d-flex
								img(src="img/logo.png", alt="logo")
						.col-auto
							h3.mb-0 телефон 
								span +7 923 490 92 23
					.row
						.col-12
							p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Ему пустился она парадигматическая языкового. Языком, щеке, снова. Переписали, большой!
						.col-12
							.row.align-items-center
								.col-auto
									p.mb-0 Мы в соцсетях:
								.col-auto
									.icons
										img.img-fluid(src="../img/icons/instagram.svg", alt="Facebook")
										img.img-fluid(src="../img/icons/instagram.svg", alt="Instagram")
										img.img-fluid(src="../img/icons/instagram.svg", alt="VK")
				.col-12.col-sm-12.col-md-6
					.container
						.row
							h3 Далеко-далеко за
						.row
							.col-4.col-md-3.col-lg-2.px-1
								img.img-fluid(src="img/gallery/1.jpg", alt="")
							.col-4.col-md-3.col-lg-2.px-1
								img.img-fluid(src="img/gallery/1.jpg", alt="")
							.col-4.col-md-3.col-lg-2.px-1
								img.img-fluid(src="img/gallery/1.jpg", alt="")
							.col-4.col-md-3.col-lg-2.px-1
								img.img-fluid(src="img/gallery/1.jpg", alt="")
							.col-4.col-md-3.col-lg-2.px-1
								img.img-fluid(src="img/gallery/1.jpg", alt="")
							.col-4.col-md-3.col-lg-2.px-1
								img.img-fluid(src="img/gallery/1.jpg", alt="")