section#sec-2
	.container
		.wrapper
			h2 Добро пожаловать в клуб 
				span fitness
			.row.justify-content-between
				.col.col-md-6
					p.descr "Мы пытаемся сделать этот мир здоровее и красивее"
					p  Во все времена красивое подтянутое тело являлось настоящим символом совершенства. Никто с первого взгляда не полюбит Ваш внутренний мир, с первого взгляда полюбят только Ваше тело...
					p  Найдите занятия, что будут Вам по душе и развивайтесь вместе с нами!
					a.btn.btn-primary.mt-5(href="#form") онлайн запись
				.col-5
					.d-flex
						img.img-fluid(src="img/sec2_bg.jpg", alt="тренировка")