section#sec-6
	.container
		h2  лучший тренерский 
			span состав
		p.descr У нас самый звездный тренерский состав! Мастера спорта и кандидаты в мастера спорта.
		.row.justify-content-center
			.col-12.col-sm-6.col-xl-4
				img.img-fluid(src="img/sec6_item1.jpg", alt="")
				.item-descr
					h3 смолин юрий
					span персональный тренер
					p Силовой и функциональный тренинг, направленный на набор мышечной массы и снижение веса. Сертифицированный тренер FPA (Ассоциации профессионалов фитнеса).Стаж работы в фитнес-индустрии: с 2012 года.
			.col-12.col-sm-6.col-xl-4
				img.img-fluid(src="img/sec6_item2.jpg", alt="")
				.item-descr
					h3 демченко ольга
					span менеджер групповых программ и инструктор
					p Групповые и персональные тренировки по силовым, танцевальным и body & mind направлениям. Коррекция веса, укрепление мышечного корсета. Стаж работы в фитнес-индустрии: с 2010 года.
			.col-12.col-sm-6.col-xl-4
				img.img-fluid(src="img/sec6_item3.jpg", alt="")
				.item-descr
					h3 семёнов артём
					span персональный тренер
					p Персональный тренинг, направленный на набор мышечной массы, коррекцию фигуры, жиросжигание. Реабилитация. Работа со всеми возрастными категориями. Стаж работы в фитнес-индустрии: с 2010 года.