section#sec-4
	.container
		.wrapper
			h2 welcome to 
				span fitness
			p.descr Реализовывайте свои мечты вместе с нами
			.row
				.col-12.col-sm-6.col-md-3
					img.img-fluid(src="img/sec4_item1.jpg", alt="Кроссфит")
					.item-descr
						h3 Кардио - тренировки
						p Кардио помогает сжечь много жира без тренажеров. Этот вид нагрузки подразумевает динамические упражнения, при которых происходит сокращение мышц ног, рук, всего тела.
				.col-12.col-sm-6.col-md-3
					img.img-fluid(src="img/sec4_item4.jpg", alt="Фитнес")
					.item-descr
						h3 фитнес
						p Построение фигуры, уменьшение количества жировой ткани и улучшение общего самочувствия.
				.col-12.col-sm-6.col-md-3
					img.img-fluid(src="img/sec4_item3.jpg", alt="Йога")
					.item-descr
						h3 йога
						p Йога совершенствует не только тело, но и развивает внутреннюю силу.
				.col-12.col-sm-6.col-md-3
					img.img-fluid(src="img/sec4_item2.jpg", alt="Бодибилдинг")
					.item-descr
						h3 бодибилдинг
						p Постройка красивого тела, тренировка и наращивание мышечной массы.
				.col.text-center
					a.btn.btn-primary(href="#form") онлайн запись