section#sec-5
	.container
		.wrapper
			h2 welcome to 
				span fitness
			p.descr Далеко-далеко за словесными горами в стране, гласных.
			.row
				.col-12.col-sm-6.col-md-4
					img(src="img/sec5_item1.jpg", alt="")
					.item-descr
						h3 лиза сухова
						span КМС по фитнессу
						p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Ведущими, возвращайся снова обеспечивает несколько.
				.col-12.col-sm-6.col-md-4
					img(src="img/sec5_item1.jpg", alt="")
					.item-descr
						h3 живут рыбные
						span КМС по фитнессу
						p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Она толку снова имени которой.
				.col-12.col-sm-6.col-md-4
					img(src="img/sec5_item1.jpg", alt="")
					.item-descr
						h3 и согласных живут
						span КМС по фитнессу
						p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Запятой большой великий, вершину раз.