section#sec-7
	.container
		.wrapper
			.row.justify-content-between
				.col-12.align-self-center
					h2 tru for free
						br
						span free 5 days pass	
					h2 call us and tru
						br
						span +7 923 490 92 23
					button.btn.btn-primary(type='button') онлайн запись