section#sec-7
	.container.d-flex
		.wrapper
			.row
				.col-12.col-sm-12.col-md-12
					p Subscribe to our newsletter
					form 
						fields
							.group
								input(type="text" required)
								label Name
							button.btn.send(type="submit") send the massage

				.social.col-12.col-sm-12.col-md-6
					.container
						.row
							.logo
								img(src="img/logo.png", alt="logo")
						.row
							p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Ему пустился она парадигматическая языкового. Языком, щеке, снова. Переписали, большой!
						.follow
							.row
								.col-3.px-0
									p Follow Us:
								.col-9.px-0
									.icons
										img(src="../img/icons/instagram.svg", alt="instagram")
										img(src="../img/icons/instagram.svg", alt="instagram")
										img(src="../img/icons/instagram.svg", alt="instagram")
										img(src="../img/icons/instagram.svg", alt="instagram")
										img(src="../img/icons/instagram.svg", alt="instagram")
										img(src="../img/icons/instagram.svg", alt="instagram")

				.gallery.col-12.col-sm-12.col-md-6
					
					.container
						.row
							h3 Далеко-далеко за
						.row
							.col-4.col-md-3.col-lg-2.px-1
								img(src="img/galler	y/1.jpg", alt="")
							.col-4.col-md-3.col-lg-2.px-1
								img(src="img/gallery/1.jpg", alt="")
							.col-4.col-md-3.col-lg-2.px-1
								img(src="img/gallery/1.jpg", alt="")
							.col-4.col-md-3.col-lg-2.px-1
								img(src="img/gallery/1.jpg", alt="")
							.col-4.col-md-3.col-lg-2.px-1
								img(src="img/gallery/1.jpg", alt="")
							.col-4.col-md-3.col-lg-2.px-1
								img(src="img/gallery/1.jpg", alt="")
							