section#sec-3
	.container
		.wrapper
			h2 welcome to 
				span fitness
			p.descr  Далеко-далеко за словесными горами в стране, гласных.
			.row
				.col-12.col-sm-6.col-md-4
					img(src="img/sec3_item1.jpg", alt="")
					.item-descr
						h3 живут рыбные
						p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Ведущими, возвращайся снова обеспечивает несколько.
						button.btn.btn-primary(type='button') онлайн запись
				.col-12.col-sm-6.col-md-4
					img(src="img/sec3_item1.jpg", alt="")
					.item-descr
						h3 живут рыбные
						p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Она толку снова имени которой.
						button.btn.btn-primary(type='button') онлайн запись
				.col-12.col-sm-6.col-md-4
					img(src="img/sec3_item1.jpg", alt="")
					.item-descr
						h3 и согласных живут
						p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Запятой большой великий, вершину раз.
						button.btn.btn-primary(type='button') онлайн запись