section#sec-2
	.container
		.wrapper
			.row.justify-content-between
				.col.col-md-6
					h2 Добро пожаловать в клуб 
						span fitness
					p.descr  "Мы пытаемся сделать этот мир здоровее и красивее"
					p  Во все времена красивое подтянутое тело являлось настоящим символом совершенства. Никто с первого взгляда не полюбит Ваш внутренний мир, с первого взгляда полюбят только Ваше тело...
					p  Найдите занятия, что будут Вам по душе и развивайтесь вместе с нами!
					button.btn.btn-primary(type='button') онлайн запись
				.col-5
					.img
						img(src="img/sec2_bg.jpg", alt="тренировка")
