section#sec-6
	.wrapper
		.container
			.row.justify-content-between
				.col-4.align-self-center
					h2 tru for free
						br
						span free 5 days pass
					a.btn(href="#") онлайн запись
				.col-4.align-self-center
					h2 call us and tru
						br
						span +7 923 490 92 23
					a.btn(href="#") онлайн запись