section#sec-7
	.container.d-flex
		.wrapper
			.row
				.col-12.col-sm-12.col-md-12
					p Subscribe to our newsletter
					form 
						fields
							.group
								input(type="text" required)
								label Name
							button.btn.send(type="submit") send the massage
							img(src="../img/pointer.png", alt="" class="point")

				.col-12.col-sm-6.col-md-6

					.container
						.row
							.logo
								img(src="img/logo.png", alt="logo")
						.row
							p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Ему пустился она парадигматическая языкового. Языком, щеке, снова. Переписали, большой!
						.row
							.col-4.px-0
								p Follow Us:
							.col-1.mr-1.px-0
								img(src="../img/icons/instagram.svg", alt="instagram")
							.col-1.mr-1.px-0
								img(src="../img/icons/instagram.svg", alt="instagram")
							.col-1.mr-1.px-0
								img(src="../img/icons/instagram.svg", alt="instagram")
							.col-1.mr-1.px-0
								img(src="../img/icons/instagram.svg", alt="instagram")
							.col-1.mr-1.px-0
								img(src="../img/icons/instagram.svg", alt="instagram")
							.col-1.px-0
								img(src="../img/icons/instagram.svg", alt="instagram")

				.col-12.col-sm-6.col-md-6
					
					.container
						.row
							.logo
								img(src="img/logo.png", alt="logo")
						.row
							p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Ему пустился она парадигматическая языкового. Языком, щеке, снова. Переписали, большой!
						.row
							.col-4.px-0
								p Follow Us:
