section#sec-3
	.container
		.wrapper
			h2 welcome to 
				span fitness
			p.descr  Далеко-далеко за словесными горами в стране, гласных.
			.row
				.col-12.col-sm-6.col-md-4
					img(src="img/sec3_item1.jpg", alt="")
					.item-descr
						h3 базовый кроссфит
						p В нашем штате работают замечательные профессионалы, которые любят crossfit.
						button.btn.btn-primary(type='button') онлайн запись
				.col-12.col-sm-6.col-md-4
					img(src="img/sec3_item2.jpg", alt="")
					.item-descr
						h3 фитнес студия
						p  Тренируйтесь в фитнес-группах или с персональным сертифицированным тренером.
						button.btn.btn-primary(type='button') онлайн запись
				.col-12.col-sm-6.col-md-4
					img(src="img/sec3_item3.jpg", alt="")
					.item-descr
						h3 занятия йогой
						p Йога совершенствует не только тело, но и развивает внутреннюю силу.
						button.btn.btn-primary(type='button') онлайн запись