section#sec-2
	.wrapper
		
		.row
			.col-6
				h2 welcome to 
					span fitness
				p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Продолжил щеке жаренные приставка жизни заглавных несколько даже текста, дорогу встретил журчит! Прямо повстречался алфавит имени злых страна парадигматическая себя?
				p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Возвращайся встретил текста то за мир своих, предупреждал последний всеми?
				a.btn(href="#") онлайн запись
			.col-6
				.img
					img(src="img/sec2_bg.png", alt="")