section#sec-8.pb-0
	.container.d-flex
		.wrapper
			.row
				.col.pb-5
					h3 оставьте заявку на бесплатную тренировку
					form#form
						.row

							.form-group.col-4
								input.form-control(type="text" id="name" data-error="Введите Имя" required)
								.help-block.with-errors
								label(for="name") Имя

							.form-group.col-4
								input.form-control(type="tel" id="phone" data-error="Неверный номер" required)
								.help-block.with-errors
								label(for="phone") Телефон

							.form-group.col-4
								input.form-control(type="email" id="email" data-error="Неверный E-mail адрес" required)
								.help-block.with-errors
								label(for="email") E-mail

							.d-flex.w-100.align-items-center
								.col-auto
									button.btn.btn-outline-primary(type='submit') записаться на занятие
								.col-auto
									#msgSubmit.invisible
			.row
				.social.col-12.col-sm-12.col-md-6
					.row.mb-3.align-items-center.justify-content-between
						.col-auto
							.logo.d-flex
								img(src="img/logo.png", alt="logo")
						.col-auto
							h3.mb-0 телефон 
								span +7 923 490 92 23
					.row
						.col-12
							p г. Юрга, проспект Победы, дом 56, строение 26, офис 304
							p Время работы: ПН-ПТ С 10:00 ДО 21:00
						.col-12
							.row.align-items-center
								.col-auto
									p.mb-0 Мы в соцсетях:
								.col-auto
									.icons
										img.img-fluid(src="../img/icons/instagram.svg", alt="Facebook")
										img.img-fluid(src="../img/icons/instagram.svg", alt="Instagram")
										img.img-fluid(src="../img/icons/instagram.svg", alt="VK")
				.col-12.col-sm-12.col-md-6
					.container
						.row
							h3 Далеко-далеко за
						.row
							.col-4.col-md-3.col-lg-2.px-1
								img.img-fluid(src="img/gallery/gall_1_mini.jpg", alt="")
							.col-4.col-md-3.col-lg-2.px-1
								img.img-fluid(src="img/gallery/gall_2_mini.jpg", alt="")
							.col-4.col-md-3.col-lg-2.px-1
								img.img-fluid(src="img/gallery/gall_3_mini.jpg", alt="")
							.col-4.col-md-3.col-lg-2.px-1
								img.img-fluid(src="img/gallery/gall_4_mini.jpg", alt="")
							.col-4.col-md-3.col-lg-2.px-1
								img.img-fluid(src="img/gallery/gall_5_mini.jpg", alt="")
							.col-4.col-md-3.col-lg-2.px-1
								img.img-fluid(src="img/gallery/gall_6_mini.jpg", alt="")