section#sec-8.pb-0
	.container.d-flex
		.wrapper
			.row

				include ../includes/form.pug

			.row
				.social.col-12.col-sm-12.col-md-6
					.row.align-items-center.justify-content-between
						.col-auto.mb-2
							.logo-container.d-flex
								a(href="#")
									.logo fitne
										span ss
						.col-auto.mb-2
							h3.mb-0 телефон 
								span +7 923 490 92 23
					.row
						.col-12
							p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Ему пустился она парадигматическая языкового. Языком, щеке, снова. Переписали, большой!
						.col-12
							.row.align-items-center
								.col-auto
									p.mb-0 Мы в соцсетях:
								.col-auto
									.icons
										img.img-fluid(src="../img/icons/instagram.svg", alt="Facebook")
										img.img-fluid(src="../img/icons/instagram.svg", alt="Instagram")
										img.img-fluid(src="../img/icons/instagram.svg", alt="VK")

				.col-12.col-sm-12.col-md-6
					.container
						.row
							h3.mb-2 Галерея
						.row
							.col-auto.col-md-3.col-lg-2.p-1
								img.img-fluid(src="img/gallery/gall_1_mini.jpg", alt="")
							.col-auto.col-md-3.col-lg-2.p-1
								img.img-fluid(src="img/gallery/gall_2_mini.jpg", alt="")
							.col-auto.col-md-3.col-lg-2.p-1
								img.img-fluid(src="img/gallery/gall_3_mini.jpg", alt="")
							.col-auto.col-md-3.col-lg-2.p-1
								img.img-fluid(src="img/gallery/gall_4_mini.jpg", alt="")
							.col-auto.col-md-3.col-lg-2.p-1
								img.img-fluid(src="img/gallery/gall_5_mini.jpg", alt="")
							.col-auto.col-md-3.col-lg-2.p-1
								img.img-fluid(src="img/gallery/gall_6_mini.jpg", alt="")