section#sec-8
	.container
		h2 выбор в пользу нашего клуба 
			span сделали
		.row
			.col-12.my-5
				.row.align-items-center
					.col-2.arrow.prev
						img.svg.img-fluid(src="img/icons/arrow.svg", alt="")

					.col-8.cont
						.slider-container
							ul.slides.d-flex.align-items-center
								li
									.container.px-5.py-3
										.row.align-items-center
											.col-12.col-md-3
												.img-container
													img.img-fluid(src="img/avas/1.jpeg", alt="Ирина")
											.col-12.col-md-9.py-3
												h3 Ирина, 41 год
												p Хожу на пилатес уже больше 2 лет. После занятий — только позитив и чувство морального удовлетворения. Завлекла сюда всех подруг – здесь и занимаемся, и обща-емся, и отдыхаем))
								li
									.container.px-5
										.row.align-items-center
											.col-12.col-md-3
												.img-container
													img.img-fluid(src="img/avas/2.jpeg", alt="Наталья")
											.col-12.col-md-9.py-3
												h3 Наталья, 22 года
												p Отличный клуб. Тренеры - профессионалы своего дела. Очень нравятся занятия. Результативные тренировки, тренеры в любой момент могут подойти, если нужно поправить и дать совет.
								li
									.container.px-5
										.row.align-items-center
											.col-12.col-md-3
												.img-container
													img.img-fluid(src="img/avas/3.jpeg", alt="Андрей")
											.col-12.col-md-9.py-3
												h3 Андрей, 28 лет
												p Уже почти 4 месяца хожу на силовые тренировки и не жалуюсь! Все отлично, комфортная обстановка, вежливый персонал и профессиональные тренажеры! Я уже замечаю результаты от тренировок и собираюсь продолжать заниматься дальше!
								li
									.container.px-5
										.row.align-items-center
											.col-12.col-md-3
												.img-container
													img.img-fluid(src="img/avas/4.jpeg", alt="Владимир")
											.col-12.col-md-9.py-3
												h3 Владимир, 32 года
												p Хожу в зал с декабря, занимаюсь с тренером Дмитрием! Очень нравится программа которую он даёт, несмотря на то, что занимаюсь недавно, но уже виден результат. Много тренажёров,отзывчивый администратор. Рекомендую! :)
								li
									.container.px-5
										.row.align-items-center
											.col-12.col-md-3
												.img-container
													img.img-fluid(src="img/avas/5.jpeg", alt="Анна")
											.col-12.col-md-9.py-3
												h3 Анна, 33 года
												p Занимаюсь месяц. В восторге! Девушки-тренеры просто классные. На групповых занятиях работают с отдачей, обращают внимание на каждого, подходят, помогают. Спасибо! :)
								li
									.container.px-5
										.row.align-items-center
											.col-12.col-md-3
												.img-container
													img.img-fluid(src="img/avas/6.jpeg", alt="Алмаз")
											.col-12.col-md-9.py-3
												h3 Алмаз, 35 лет
												p После нескольких месяцев посещения вашего клуба, у меня только положительные эмоции. У вас очень комфортно! Особенно хочу отметить персонал. Я не понаслышке знаю сколько нужно перебрать людей, чтобы найти 1 хорошего сотрудника.
								li
									.container.px-5
										.row.align-items-center
											.col-12.col-md-3
												.img-container
													img.img-fluid(src="img/avas/7.jpeg", alt="Лиана")
											.col-12.col-md-9.py-3
												h3 Лиана, 26 лет
												p Добрый вечер! Я являюсь постоянным клиентом данного клуба, выбирала долго и мучительно, так как вариантов масса. Посещаю его уже более года и с удовольствием планирую посещать дальше!
								li
									.container.px-5
										.row.align-items-center
											.col-12.col-md-3
												.img-container
													img.img-fluid(src="img/avas/8.jpeg", alt="Михаил")
											.col-12.col-md-9.py-3
												h3 Михаил, 27 лет
												p Хочу сказать огромное спасибо тренерам тренажерного зала! Я занимаюсь хоть и любительски, но повидал много залов и тренеров!  внимательно отнеслись ко всем моим проблемам,предложили программу, хочется идти на тренировку. Я очень рад, что пришел именно в Ваш клуб!

					.col-2.arrow.next
						img.svg.img-fluid(src="img/icons/arrow.svg", alt="")