section#sec-3
	.container
		.wrapper
			.row
				.col-6.col-md-4
					.img-container
						img.img-fluid.circle(src="img/circle1.jpg", alt="тренажерный зал")
					h3 тренажерный зал
					p  Тренажерный зал площадью 900 кв.м. оборудован самыми современными тренажёрами премиум-класса.
				.col-6.col-md-4
					.img-container
						img.img-fluid.circle(src="img/circle2.jpg", alt="кардио зал")
					h3 кардио зал
					p  Просторный кардио зал, в котором может одновременно заниматься 30 человек.	
				.col-6.col-md-4
					.img-container
						img.img-fluid.circle(src="img/circle3.jpg", alt="массаж и солярий")
					h3 массаж и солярий
					p  Большой выбор программ, косметический и спортивный массаж, салон красоты и солярий.
				.col-6.col-md-4
					.img-container
						img.img-fluid.circle(src="img/circle4.jpg", alt="зал групповых занятий")
					h3 зал групповых занятий
					p  6 залов групповых программ, более 49 видов групповых занятий. В просторных залах могут одновременно заниматься 200 человек.	
				.col-6.col-md-4
					.img-container
						img.img-fluid.circle(src="img/circle5.jpg", alt="фитнес бар")
					h3 фитнес бар
					p  Помимо спортивного питания - здоровое и полноценное питание на весь день. Рекомендации диетолога, доставка полезных блюд, разработка персональных диет.		
				.col-6.col-md-4
					.img-container
						img.img-fluid.circle(src="img/circle6.jpg", alt="детский фитнес")
					h3 детский фитнес
					p  Плавание, спортивные игры, соревнования, персональные тренировки и групповые занятия премиум-класса.