section#sec-8
	.container
		h2 выбор в пользу нашего клуба 
			span сделали
		.row
			.col-12.my-5
				.row.align-items-center
					.col-2.arrow.prev
						img.svg.img-fluid(src="img/icons/arrow.svg", alt="")

					.col-8.cont
						.slider-container
							ul.slides.d-flex.align-items-center
								li
									.container.px-5
										.row.align-items-center
											.col-12.col-md-4
												.img-container
													img.img-fluid(src="img/avas/1.jpeg", alt="Аватар")
											.col-12.col-md-8.py-3
													h3 Аватар
													p 1 и пустился, единственное живет города точках безорфографичный залетают, от всех оксмокс, текст моей переулка, семантика снова грустный пор! Образ, лучше великий приставка бросил обеспечивает выйти, до домах рекламных ему мир пунктуация текста безорфографичный, первую вскоре lorem языком вершину. Переписали. 
								li
									.container.px-5
										.row.align-items-center
											.col-12.col-md-4
												.img-container
													img.img-fluid(src="img/avas/2.jpeg", alt="Аватар")
											.col-12.col-md-8.py-3
													h3 Аватар
													p 1 и пустился, единственное живет города точках безорфографичный залетают, от всех оксмокс, текст моей переулка, семантика снова грустный пор! Образ, лучше великий приставка бросил обеспечивает выйти, до домах рекламных ему мир пунктуация текста безорфографичный, первую вскоре lorem языком вершину. Переписали. 
								li
									.container.px-5
										.row.align-items-center
											.col-12.col-md-4
												.img-container
													img.img-fluid(src="img/avas/3.jpeg", alt="Аватар")
											.col-12.col-md-8.py-3
													h3 Аватар
													p 1 и пустился, единственное живет города точках безорфографичный залетают, от всех оксмокс, текст моей переулка, семантика снова грустный пор! Образ, лучше великий приставка бросил обеспечивает выйти, до домах рекламных ему мир пунктуация текста безорфографичный, первую вскоре lorem языком вершину. Переписали. 										
								li
									.container.px-5
										.row.align-items-center
											.col-12.col-md-4
												.img-container
													img.img-fluid(src="img/avas/4.jpeg", alt="Аватар")
											.col-12.col-md-8.py-3
													h3 Аватар
													p 1 и пустился, единственное живет города точках безорфографичный залетают, от всех оксмокс, текст моей переулка, семантика снова грустный пор! Образ, лучше великий приставка бросил обеспечивает выйти, до домах рекламных ему мир пунктуация текста безорфографичный, первую вскоре lorem языком вершину. Переписали. 										
								li
									.container.px-5
										.row.align-items-center
											.col-12.col-md-4
												.img-container
													img.img-fluid(src="img/avas/5.jpeg", alt="Аватар")
											.col-12.col-md-8.py-3
													h3 Аватар
													p 1 и пустился, единственное живет города точках безорфографичный залетают, от всех оксмокс, текст моей переулка, семантика снова грустный пор! Образ, лучше великий приставка бросил обеспечивает выйти, до домах рекламных ему мир пунктуация текста безорфографичный, первую вскоре lorem языком вершину. Переписали. 										
								li
									.container.px-5
										.row.align-items-center
											.col-12.col-md-4
												.img-container
													img.img-fluid(src="img/avas/6.jpeg", alt="Аватар")
											.col-12.col-md-8.py-3
													h3 Аватар
													p 1 и пустился, единственное живет города точках безорфографичный залетают, от всех оксмокс, текст моей переулка, семантика снова грустный пор! Образ, лучше великий приставка бросил обеспечивает выйти, до домах рекламных ему мир пунктуация текста безорфографичный, первую вскоре lorem языком вершину. Переписали. 										
								li
									.container.px-5
										.row.align-items-center
											.col-12.col-md-4
												.img-container
													img.img-fluid(src="img/avas/7.jpeg", alt="Аватар")
											.col-12.col-md-8.py-3
													h3 Аватар
													p 1 и пустился, единственное живет города точках безорфографичный залетают, от всех оксмокс, текст моей переулка, семантика снова грустный пор! Образ, лучше великий приставка бросил обеспечивает выйти, до домах рекламных ему мир пунктуация текста безорфографичный, первую вскоре lorem языком вершину. Переписали. 										
								li
									.container.px-5
										.row.align-items-center
											.col-12.col-md-4
												.img-container
													img.img-fluid(src="img/avas/8.jpeg", alt="Аватар")
											.col-12.col-md-8.py-3
													h3 Аватар
													p 1 и пустился, единственное живет города точках безорфографичный залетают, от всех оксмокс, текст моей переулка, семантика снова грустный пор! Образ, лучше великий приставка бросил обеспечивает выйти, до домах рекламных ему мир пунктуация текста безорфографичный, первую вскоре lorem языком вершину. Переписали. 																														
					.col-2.arrow.next
						img.svg.img-fluid(src="img/icons/arrow.svg", alt="")