section#sec-4
	.container
		.wrapper
			h2 welcome to 
				span fitness
			p.descr  Далеко-далеко за словесными горами в стране, гласных.
			.row
				.col-12.col-sm-6.col-md-3
					img.img-fluid(src="img/sec4_item1.jpg", alt="Кроссфит")
					.item-descr
						h3 базовый кроссфит
						p Программа упражнений на силу и выносливость, состоящая в основном из аэробных упражнений.
				.col-12.col-sm-6.col-md-3
					img.img-fluid(src="", alt="Фитнес")
					.item-descr
						h3 фитнес
						p Построение фигуры, уменьшение количества жировой ткани и улучшение общего самочувствия.
				.col-12.col-sm-6.col-md-3
					img.img-fluid(src="img/sec4_item3.jpg", alt="Йога")
					.item-descr
						h3 йога
						p Йога совершенствует не только тело, но и развивает внутреннюю силу.
				.col-12.col-sm-6.col-md-3
					img.img-fluid(src="img/sec4_item2.jpg", alt="Бодибилдинг")
					.item-descr
						h3 бодибилдинг
						p Постройка красивого тела, тренировка и наращивание мышечной массы.
				.col.text-center
					a.btn.btn-primary(href="#form") онлайн запись