section#sec-4
	.container
		.wrapper
			h2 welcome to 
				span fitness
			p.descr  Далеко-далеко за словесными горами в стране, гласных.
			.row
				.col-12.col-sm-6.col-md-4
					img.img-fluid(src="img/sec4_item1.jpg", alt="")
					.item-descr
						h3 живут рыбные
						p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Ведущими, возвращайся снова обеспечивает несколько.
						a.btn.btn-primary(href="#form") онлайн запись
				.col-12.col-sm-6.col-md-4
					img.img-fluid(src="img/sec4_item2.jpg", alt="")
					.item-descr
						h3 живут рыбные
						p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Она толку снова имени которой.
						a.btn.btn-primary(href="#form") онлайн запись
				.col-12.col-sm-6.col-md-4
					img.img-fluid(src="img/sec4_item3.jpg", alt="")
					.item-descr
						h3 и согласных живут
						p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Запятой большой великий, вершину раз.
						a.btn.btn-primary(href="#form") онлайн запись