section#sec-3
	.wrapper
		h2 welcome to 
			span fitness
		p.descr  Далеко-далеко за словесными горами в стране, гласных.
			.row
				.col-4
					img(src="img/sec3_item1.jpg", alt="")
					.item-descr
						h3 живут рыбные
						p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Ведущими, возвращайся снова обеспечивает несколько.
						a.btn(href="#") онлайн запись
				.col-4
					img(src="img/sec3_item1.jpg", alt="")
					.item-descr
						h3 живут рыбные
						p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Она толку снова имени которой.
						a.btn(href="#") онлайн запись
				.col-4
					img(src="img/sec3_item1.jpg", alt="")
					.item-descr
						h3 и согласных живут
						p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Запятой большой великий, вершину раз.
						a.btn(href="#") онлайн запись