section#sec-4
	.container
		h2 Фитнес-клуб 
			span премиум-класса
		p.descr Если вы ищите качественные, профессиональные, продуманные и при этом доступные фитнес-услуги, то это можно найти в нашем фитнес-центре уже сегодня!
		.row.justify-content-center
			.col-12.col-sm-6.col-xl-3
				img.img-fluid(src="img/sec4_item1.jpg", alt="Кроссфит")
				.item-descr
					h3 Кардио - тренировки
					p Кардио помогает сжечь много жира без тренажеров. Этот вид нагрузки подразумевает динамические упражнения, при которых происходит сокращение мышц ног, рук, всего тела.
			.col-12.col-sm-6.col-xl-3
				img.img-fluid(src="img/sec4_item2.jpg", alt="Фитнес")
				.item-descr
					h3 фитнес
					p Построение фигуры, уменьшение количества жировой ткани и улучшение общего самочувствия.
			.col-12.col-sm-6.col-xl-3
				img.img-fluid(src="img/sec4_item3.jpg", alt="Йога")
				.item-descr
					h3 йога
					p Йога совершенствует не только тело, но и развивает внутреннюю силу.
			.col-12.col-sm-6.col-xl-3
				img.img-fluid(src="img/sec4_item4.jpg", alt="Бодибилдинг")
				.item-descr
					h3 бодибилдинг
					p Постройка красивого тела, тренировка и наращивание мышечной массы.
			.col.text-center
				a.free-train.btn.btn-primary(href="#sec-form") онлайн запись