<!DOCTYPE html>
html(lang="en")
	head

		//- Кодировка. Нужна для корректного отображения кириллицы
		meta(charset="UTF-8")
		
		//- Mетатег для адаптивного отображения. Нужен для корректной работы bootstrap
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		
		//- страница открыта для индексации поисковыми роботами
		meta(name='robots' content='index, follow')

		link(rel="stylesheet", href="css/main.css")

		meta(name='description' content='Первые 5 дней бесплатно! оставьте заявку на 5 бесплатных тренировок')
		meta(name='keywords' content='')
		
		title Спортивный клуб премиум класса - 5 дней бесплатно

	body

		include includes/header.pug

		main
			article
				
				include includes/section2.pug
				include includes/section3.pug
				include includes/section4.pug
				include includes/section5.pug
				include includes/section6.pug
				include includes/section7.pug
				include includes/section8.pug
				include includes/form.pug

		include includes/footer.pug	
	
	script(src='js/scripts.min.js')