<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		link(rel="stylesheet", href="css/main.css")
		
		title Document
	body
		
		include includes/header.pug
		include includes/section2.pug
		include includes/section3.pug
		include includes/section4.pug
	
	script(src='js/scripts.min.js')