<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		link(rel="stylesheet", href="css/main.css")
		title Document
	body
		header
			.nav-bar.m15
				.logo
					img(src="img/logo.png", alt="logo")
				.nav.m15
					ul
						li home
						li about us
						li page
						li blog
						li contact
				.btn.m15
					a(href="") chose plan
