// Большие девайсы (большие десктопы, < 1200px)
@media (max-width: 1199.98px)
	//

// Большие девайсы (десктопы, >= 992px)
@media (max-width: 991.98px)	
	// 
	


// Средние девайсы («таблетки», >= 768px)
@media (max-width: 767.98px)	
	// header
	// header
	// 	font-size: .9em

	// sec-2
	#sec-2
		.col-5		
			display: none		
	
// Малые девайсы («ландшафтные телефоны», >= 576px)
@media (max-width: 575.98px)

	.wrapper
		width: 80vw

	// header
	header
		h1
			font-size: 2.5em	
	.nav
		display: none

	// #sec-4
		// font-size: .5em		

// Custom Media Queries 
@media (max-width: 370px)
	///////////////////////////////////		
	// 
	///////////////////////////////////	


@media (max-height: 374px)
	.btn
		font-size: .8em

	//Все .wrapper во всех section
	.wrapper	
		width: 90vw	
		margin: 3em	auto 0
		font-size: .8em

	header
		.wrapper
			margin-top: 0	