// Большие девайсы (большие десктопы, < 1200px)
@media (max-width: 1199.98px)
	//

// Большие девайсы (десктопы, >= 992px)
@media (max-width: 991.98px)	
	//

// Средние девайсы («таблетки», >= 768px)
@media (max-width: 767.98px)	

	header, #sec-2, #sec-3, #sec-4, #sec-5, #sec-6
		font-size: .9em

	// sec-2
	#sec-2
		.col-5		
			display: none		
	
// Малые девайсы («ландшафтные телефоны», >= 576px)
@media (max-width: 575.98px)
	// header
	header
		.nav-bar
			display: none 

	.wrapper
		width: 90vw

	// header
	header
		h1
			font-size: 2.5em	
	.nav
		display: none
	
	// #sec-4
	#sec-4
		h2
			font-size: 1.3em		

// Custom Media Queries 
@media (max-width: 370px)
	//	

@media (max-height: 374px)
	//Все .wrapper во всех section
	.wrapper	
		width: 90vw	
		margin: 3em	auto 0		

	// header
	// 	.wrapper
	// 		margin-top: 0	