// Шрифт по умолчанию
$dflt-font: 'My-Font', sans-serif

// Текст 
$white-txt: #f8f9fa
$dark-txt: #222

// Подзаголовок секций
$s-descr: #777

// Акцентный цвет
$accent: #fa7222
$accent-tr: #fa7222cc

// Переопределение переменной Bootstrap 
// Цвет кнопок
$primary: $accent-tr

// Фон
$bg-dark: #0f0e11	
$bg-dark-tr-70: #0f0e11bb	
$bg-dark-tr-90: #0f0e11f5	

// Скорость анимации
=mt($time)
	transition: all $time ease