@import 'bourbon'     // Миксины для SASS
@import "font"				// Шрифты
@import "vars"        // Переменные
@import "libs"        // Библиотеки
			

// Отключение предупреждений бурбона в консолиииииииdcdcттт
$output-bourbon-deprecation-warnings: false

*
	margin: 0
	padding: 0
	box-sizing: border-box
	text-decoration: none !important	
	user-select: none // Пользователю запрещено выделять элемент
	&:active, &:focus
		outline: none

html
	font-size: 14px

body
	font-size: 14px
	line-height: 1.3em
	font-family: 'My-font', sans-serif;
	color: $white-txt
	font-weight: normal
	min-width: 320px

// Секции 
section
	padding: 3em 0

// содержимое секций
.wrapper
	width: 70vw // 70% от ширины окна
	margin: 0 auto // Центрирование

// Заголовки
h1, h2, h3
	text-transform: uppercase
	font-weight: bold	
	span
		color: $accent
h1		
	font-size: 3.5em
	margin-left: -.1em		
h2		
	font-size: 1.8em	
	margin: 0 0 1em
	color: $dark-txt
	span						
		font-weight: 900	
h3		
	font-size: 1.2em
	margin-bottom: .6em	
	color: $dark-txt	

// Подзаголовок секций
.descr
	font-size: .9em
	color: #888
	margin-bottom: 3em	

// Заголовок пункта (#sec-4, #sec-6)
.item-descr
	padding: 0 .6em
	h3
		margin: .8em 0 .5em
			
// Кнопки
.btn
	font-size: .9em
	font-weight: 600			
	text-transform: uppercase		

// Логотип
.logo	
	display: flex		
	width: 5em
	align-items: center

////////////////////////////////////////////////
// 1 section header .nav-bar
////////////////////////////////////////////////
.nav-bar			
	position: absolute
	text-transform: uppercase	
	font-weight: 600	
	justify-content: space-around		
	ul li	
		list-style-type: none				
		display: inline-block	
		a
			color: $white-txt
			border-left: 1px solid #fff
			padding: 0 1em
			+mt(.25s)			
			&:hover
				color: $accent
		&:first-child	a
			border-left: none						
	.nav-btn
		white-space: nowrap

////////////////////////////////////////////////
// 1 section header
////////////////////////////////////////////////
header
	background-image: url("../img/bg1.jpg")
	background-size: cover
	background-position: center
	height: 100vh		
	.wrapper	
		margin: 0 auto	
		p
			margin: 1.5em 0
			font-weight: 600
			text-transform: uppercase
			color: #fff				
			span					
				animation-duration: 3s
				animation-iteration-count: infinite	

////////////////////////////////////////////////
// 2 section #sec-2
////////////////////////////////////////////////
#sec-2
	color: $dark-txt
	.wrapper	
		.img
			display: flex
			align-items: center
			height: 100%	
	
////////////////////////////////////////////////
// 2 section #sec-3
////////////////////////////////////////////////
#sec-3
	text-align: center
	background-color: $bg-dark	
	.img-container
		border: 2px solid $accent
		border-radius: 50%
		margin: 1em 0
		+mt(.25s)
		&:hover
			border: 5px solid $accent
		.circle		
			border-radius: 50%	
	h3, h2
		color: $white-txt		

////////////////////////////////////////////////
// 4 section #sec-4
////////////////////////////////////////////////
#sec-4
	color: $dark-txt	
	.col
		margin-bottom: 1em	
	.btn
		margin-bottom: 2em	

////////////////////////////////////////////////
// 5 section #sec-5
// 7 section #sec-7
////////////////////////////////////////////////
#sec-5, #sec-7
	text-align: center		
	background-size: cover
	background-position: center	
	.row		
		height: 30em	
	h2
		font-weight: normal
		color: #fff					 
		span
			font-size: 1.4em
			color: #fff

#sec-5	
	background-image: url("../img/sec5_bg.jpg")

#sec-7	
	background-image: url("../img/sec7_bg.jpg")	
						

////////////////////////////////////////////////
// 6 section #sec-6
////////////////////////////////////////////////			
#sec-6
	color: $dark-txt	
	.item-descr			
		text-align: center
		h3			
			text-transform: capitalize
		span
			font-size: .7em
			text-transform: uppercase	
			font-weight: 900
			color: $accent
		p			
			margin-top: .8em	

////////////////////////////////////////////////
// 8 section #sec-8
////////////////////////////////////////////////
#sec-8
	background-color: $bg-dark	
	h3
		color: $white-txt
	form		
		.group
			position: relative	
			width: 100%			 
			input
				width: 100%
				height: 2.8em
				margin-top: 1.2em
				border: 1px solid $gray-800
				background: $gray-900
				padding: .5em 1em	
				font-size: 1em
				color: $white-txt
				+mt(.5s)
				&:hover				
					border: 1px solid $gray-600	
				&:focus ~ label, &:valid ~ label
					top: -.5em					
					color: $accent
					+mt(.3s)						
			label
				font-size: .9em
				font-weight: normal
				position: absolute
				pointer-events: none
				left: 2em
				top: 2.2em		
			.help-block
				height: 1em
				margin-top: .6em	
				color: $danger						

	.social, .gallery		
		margin-bottom: 1em			
		
	.social	
		.logo
			margin-bottom: 1em	
		.follow	
			margin: 1em 0
			p
				padding: .2em 0	
		.icons
			float: right	
			img
				width: 2em
				margin: 0 .3em		
	.gallery
		h3
			margin-bottom: 1em
		

@import "media" 