@import 'bourbon'     // Миксины для SASS
@import "font"
@import "libs"        // Библиотеки
@import "vars"        // Переменные
        

// Отключение предупреждений бурбона в консоли
// $output-bourbon-deprecation-warnings: false

*
	margin: 0
	padding: 0
	box-sizing: border-box

body
	font-size: 14px	
	line-height: 1.3em
	font-family: 'My-font', sans-serif;
	color: $white-txt
	font-weight: normal
	min-width: 320px

img
	width: 100%		

a	
	text-decoration: none

h1, h2, h3
	text-transform: uppercase
	font-weight: bold
	line-height: 1.2em
	span
		color: $accent
h1		
	font-size: 3.5em
	margin-left: -3px			
h2		
	font-size: 1.8em
	margin-bottom: 10px	
	color: $dark-txt

.logo	
	display: flex		
	width: 7em		
	align-items: center

.wrapper
	width: 70vw
	margin: 6em auto 0
	.descr
		font-size: .8em
		color: #888
		margin-bottom: 3em

.btn
	display: inline-block
	margin: 1.5em 0 0
	padding: 1em 2em
	// font-size: .8em
	text-transform: uppercase
	letter-spacing: .1em
	font-weight: 600	
	background-color: $accent
	color: #fff
	&:hover
		background-color: darken($accent,10%) 

////////////////////////////////////////////////
// 1 section header .nav-bar
////////////////////////////////////////////////
.nav-bar			
	margin: 0 5vw	
	padding: 1.5em 0 0
	margin-bottom: 2em
	text-transform: uppercase	
	font-weight: 600	
	justify-content: space-around	
	.nav
		font-size: .9em
		width: 100%	
		margin-left: 2em
		ul	
			line-height: 3em
			margin-top: .2em
			li				
				list-style-type: none				
				display: inline-block			
				padding-left: 1em				
	.nav-btn			
		font-size: .9em
		display: flex
		align-items: center
		white-space: nowrap		
		a			
			border: 2px solid #fff
			padding: .5em
			color: #fff

////////////////////////////////////////////////
// 1 section header
////////////////////////////////////////////////
header
	background-image: url("../img/bg1.jpg")
	background-size: cover
	background-position: center
	height: 100vh	
	.wrapper		
		p
			margin: 1.5em 0
			font-weight: 600
			text-transform: uppercase
			color: #fff				
			span					
				animation-duration: 3s
				animation-iteration-count: infinite	

////////////////////////////////////////////////
// 2 section #sec-2
////////////////////////////////////////////////
#sec-2
	color: $dark-txt
	.wrapper	
		.img
			display: flex
			align-items: center
			height: 100%		
		p
			margin-bottom: 15px
			// font-size: .9em


////////////////////////////////////////////////
// 3 section #sec-3
////////////////////////////////////////////////
#sec-3	
	color: $dark-txt
	.item-descr		
		padding: 0 10px			
		h3
			margin: 10px 0			
	.col
		margin-bottom: 1em	

////////////////////////////////////////////////
// 4 section #sec-4
////////////////////////////////////////////////
#sec-4
	text-align: center	
	background-image: url("../img/sec4_bg.jpg")
	background-size: cover
	background-position: center	
	.row		
		height: 360px
		h2
			font-weight: normal
			color: #fff		
			margin: 0
			span
				font-size: 1.4em
				line-height: 2em
				font-weight: 900	
				color: #fff				

////////////////////////////////////////////////
// 5 section #sec-5
////////////////////////////////////////////////			
#sec-5	
	
	color: $dark-txt	
	.item-descr		
		padding: 0 10px	
		text-align: center

		h3
			margin: 5px 0	0
			text-transform: capitalize
		span
			font-size: .7em
			text-transform: uppercase	
			font-weight: 900
			color: $accent
		p
			font-size: .9em
			margin-top: 10px	

////////////////////////////////////////////////
// 6 section #sec-6
////////////////////////////////////////////////
#sec-6
	text-align: center	
	background-image: url("../img/sec6_bg.jpg")
	background-size: cover
	background-position: center	
	.row		
		height: 360px
		h2
			font-size: 1em
			font-weight: 900
			color: #fff		
			margin: 0
			span
				font-size: 2em				
				line-height: 2em
				color: #fff		

////////////////////////////////////////////////
// 7 section #sec-7
////////////////////////////////////////////////
#sec-7
	background-color: $bg-dark	
	form
		margin-bottom: 2em
		p
			font-size: .8em
			font-weight: 900
			text-transform: uppercase
		.group
			position: relative	
			width: 100%
			max-width: 400px 
			input
				width: 100%
				height: 2.8em
				margin-top: 1.5em
				border: 1px solid #123546 
				background: #123546  !important
				padding: 10px 20px	
				font-size: 1em
				color: #fff
				+mt(.5s)
				&:hover, &:focus				
					border-bottom: 1px solid $accent 	
				&:focus ~ label, &:valid ~ label
					top: 0					
					color: $accent
					+mt(.3s)	
			label
				font-size: .9em
				font-weight: normal
				position: absolute
				pointer-events: none
				left: 15px
				top: 32px	
		.btn
			border: 0	
	.social, .gallery		
		margin-bottom: 1em			
		font-size: .8em

	.social	
		.logo
			margin-bottom: 1em	
		.follow	
			margin: 1em 0
			p
				padding: .2em 0	
		.icons
			float: right	
			img
				width: 2em
				margin: 0 .3em		
	.gallery
		h3
			margin-bottom: 1em
		

@import "media" 