@import 'bourbon'     // Миксины для SASS
@import "font"				// Шрифты
@import "vars"        // Переменные
@import "libs"        // Библиотеки			

// Отключение предупреждений бурбона в консоли
$output-bourbon-deprecation-warnings: false

*
	text-decoration: none !important	
	user-select: none // Пользователю запрещено выделять элемент
	&:active, &:focus
		outline: none

html
	font-size: 14px

body
	font-size: 14px
	line-height: 1.3em
	font-family: 'My-font', sans-serif;
	color: $white-txt
	font-weight: normal
	min-width: 320px

// Секции 
section
	padding: 3em 0

#sec-4, #sec-6
	text-align: center

// Заголовки
h1, h2, h3
	text-transform: uppercase
	font-weight: bold		
	span
		color: $accent
h1		
	font-size: 3.25em	
	font-weight: normal
	span
		padding: 0 .1em
		border-radius: 3px
		background-color: $accent		
		// color: $white-txt
h2		
	font-size: 1.8em		
	color: $dark-txt
	line-height: 2em
	span						
		font-weight: 900	
h3		
	font-size: 1.2em
	margin-bottom: .6em	
	color: $dark-txt	
	span
		text-transform: none

// Подзаголовок секций
.descr
	font-size: .95em
	color: $s-descr
	margin-bottom: 3em	

// Заголовок пункта (#sec-4, #sec-6)
.item-descr
	padding: 0 .6em
	h3
		margin: .8em 0 .5em
			
// Кнопки
.btn
	font-size: .9em
	font-weight: 600			
	text-transform: uppercase		

// Логотип
.logo-container	
	align-items: center
	font-weight: normal
	text-transform: uppercase
	.logo
		font-size: 1.25em
		a
			color: $white-txt
			span
				padding: 0 .1em
				margin-left: .1em
				border-radius: .1em
				background-color: $accent-tr
				color: $white-txt
				+mt(.25s)
			&:hover
				span
					background-color: darken($accent-tr, 8%)		

//.nav-bar
.nav-bar
	text-transform: uppercase	
	font-weight: 600	
	justify-content: space-around
	ul li	
		list-style-type: none				
		display: inline-block	
		a
			color: $white-txt			
			+mt(.25s)			
			&:hover
				color: $accent
		&:first-child	a
			border-left: none	

.nav-container
	margin: 0 auto

////////////////////////////////////////////////
// header
////////////////////////////////////////////////
header
	background-image: url("../img/bg1.jpg")
	background-size: cover
	background-position: center
	height: 100vh	
	nav	
		height: 10vh
		.nav-bar
			ul li	a
				border-left: 1px solid $white-txt
				padding: 0 1em
	#header-content
		height: 90vh			
		.logo-descr
			text-transform: uppercase
			letter-spacing: 2px
			font-size: 1.5em
		h2		
			color: $white-txt	
			font-weight: normal
			line-height: 1.5em
			span
				padding: 0 .1em
				margin-left: .1em
				border-radius: .1em
				background-color: $accent-tr
				color: $white-txt
			.animated					
				animation-duration: 3s
				animation-iteration-count: infinite	
		.h2-descr
			text-transform: uppercase
		.header-btn
			padding: 1em 2em	
			border-radius: .3em
			font-size: 1em

////////////////////////////////////////////////
// #sec-2
////////////////////////////////////////////////
#sec-2
	color: $dark-txt	
	
////////////////////////////////////////////////
// #sec-3
////////////////////////////////////////////////
#sec-3
	text-align: center
	background-color: $bg-dark	
	.img-container
		border: 2px solid $accent
		border-radius: 50%
		margin: 1em 0
		+mt(.25s)
		&:hover
			border: 5px solid $accent
		.circle		
			width: 100%
			border-radius: 50%	
	h3, h2
		color: $white-txt		

////////////////////////////////////////////////
// #sec-4
////////////////////////////////////////////////
#sec-4
	color: $dark-txt	
	img
		border-radius: .25em	

////////////////////////////////////////////////
// #sec-5, #sec-7
////////////////////////////////////////////////
#sec-5, #sec-7
	text-align: center		
	background-size: cover
	background-position: center		
	.row		
		height: 25em	
	h2,
		font-weight: normal
		color: $white-txt			
		span
			font-size: 1.4em
			color: $white-txt	

#sec-5	
	background-image: url("../img/sec5_bg.jpg")

#sec-7	
	background-image: url("../img/sec7_bg.jpg")							

////////////////////////////////////////////////
// #sec-6
////////////////////////////////////////////////			
#sec-6
	color: $dark-txt	
	.item-descr			
		text-align: center
		h3			
			text-transform: capitalize
		span
			font-size: .7em
			text-transform: uppercase	
			font-weight: 900
			color: $accent
		p			
			margin-top: .8em	

////////////////////////////////////////////////
// footer
////////////////////////////////////////////////
footer	
	background-color: $bg-dark	
	.icons			
		img
			width: 1.5em
			margin: 0 .3em		

	.nav-bar	
		ul li
			display: block
			line-height: 1.5em
			margin-bottom: .5em	
			img
				width: 2.25em
				padding: .5em
				border: 1px solid $white-txt
				border-radius: .3em	
				&:hover
					background-color: lighten($dark-txt, 15%)
	
	address span, p span
		color: $accent

	.gallery-descr
		font-size: 1.2em 
		text-transform: uppercase
		font-weight: bold
	.popup-gallery		
		img
			width: 4em
			padding: 2px

////////////////////////////////////////////////
// #sec-form
////////////////////////////////////////////////
#sec-form
	position: fixed
	width: 100vw
	height: 100vh	
	z-index: 2
	right: 0
	top: 0
	display: none		
	background-color: $bg-dark-tr-70
	img
		width: 2em
	.container
		border: solid 1px $accent
		border-radius: .3em
		background-color: $bg-dark-tr-90	
	h3
		color: $white-txt
	form	
		input
			width: 100%
			height: 2.8em
			margin-top: 1.2em
			border: 1px solid $gray-800
			background: $gray-900
			padding: .5em 1em	
			font-size: 1em
			color: $white-txt
			&:hover				
				border: 1px solid $gray-600	
			&:focus ~ label, &:valid ~ label
				top: -.5em					
				color: $accent
				+mt(.3s)						
		label
			font-size: .9em
			font-weight: normal
			position: absolute
			pointer-events: none
			left: 2em
			top: 2.2em		
		.help-block
			height: 1em
			margin-top: .6em	
			color: $danger		

		.label-not-active
			+mt(.3s)

		.label-active
			top: -.5em	!important				
			color: $accent
			+mt(.3s)

////////////////////////////////////////////////		
// Отсчет времени #countdown
////////////////////////////////////////////////
#countdown .clock-container
	background: #00000088
	padding: 1em 2em 2em
	border-radius: 5px
	border: 1px solid $accent
	h2	
		color: $white-txt
	#clock	
		padding: 1.25em 0
		border-radius: 5px
		background: #00000099
		.hours, .minutes, .seconds
			padding: .25em
			border-radius: .1em
			background: $accent-tr
		span
			display: inline-block
			font-size: 2.5em
			padding: .25em 0
			line-height: 1em
			font-weight: bold
		.smalltext
			padding-top: .5em
			font-size: 0.8em
			text-transform: uppercase		


.mfp-close
	color: $white-txt	!important			

@import "media" 